[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis.{{ env }}.kranthi.online
Environment=CATALOGUE_HOST=catalogue.{{ env }}.kranthi.online
Environment=CATALOGUE_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBysyst=multi-user.target
